<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.hidden_field :username, :id=> "username" %><br />
    <%= f.hidden_field :address, :id=> "address" %><br />
    <%= f.hidden_field :chatwork_token, :id=> "chatwork_token" %><br />
    <%= f.hidden_field :room_id, :id=> "room_id" %><br />
    <%= f.hidden_field :email, autofocus: true, autocomplete: "email", :id=> "email" %>
    <%= f.submit "Update", :id=> "update", :style=> "display: none;" %>
<% end %>

<ons-navigator id="appNavigator" swipeable swipe-target-width="80px">
  <ons-page>
    <ons-splitter id="appSplitter">
      <ons-splitter-content page="tabbar.html"></ons-splitter-content>
    </ons-splitter>
  </ons-page>
</ons-navigator>

<template id="tabbar.html">
  <ons-page id="tabbar-page">
    <ons-toolbar>
      <div class="center">アカウント編集</div>
    </ons-toolbar>
    <ons-tabbar swipeable id="appTabbar" position="auto">
      <ons-tab label="Home" icon="ion-home" onclick="to_home();"></ons-tab>
      <ons-tab label="Forms" icon="ion-edit" page="forms.html" active></ons-tab>
    </ons-tabbar>
  </ons-page>
</template>

<template id="forms.html">
  <ons-page id="forms-page">
    <ons-list>
      <ons-list-header>ユーザー名</ons-list-header>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-face" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
          <ons-input id="name-input" float maxlength="20" placeholder="<%= current_user.username%>"></ons-input>
        </label>
      </ons-list-item>
      <ons-list-header>XEMアドレス</ons-list-header>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-home" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
          <ons-input id="address-input" float maxlength="100" placeholder="<%= current_user.address%>"></ons-input>
        </label>
      </ons-list-item>
      <ons-list-header>Chatwork_Token</ons-list-header>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="fa-cog" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
          <ons-input id="chatwork_token-input" float maxlength="100" placeholder="<%= current_user.chatwork_token%>"></ons-input>
        </label>
      </ons-list-item>
      <ons-list-header>Chatwork_Room_Id</ons-list-header>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="fa-cog" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
          <ons-input id="room_id-input" float maxlength="100" placeholder="<%= current_user.room_id%>"></ons-input>
        </label>
      </ons-list-item>
      <ons-list-header>データを保存する</ons-list-header>
      <ons-list-item>
        <div class="right right-label">
          <ons-button id="save-btn" onclick="update();" class="button-margin right-icon">保存</ons-button>
        </div>
      </ons-list-item>
    </ons-list>
    <script type="text/javascript">
      ons.getScriptPage().onInit = function () {
        $('#name-input').children().keyup(function() {
          var nameinput = $(this).val();
          document.getElementById( "username" ).value = nameinput;
        });
        $('#address-input').children().keyup(function() {
          var addressinput = $(this).val();
          document.getElementById( "address" ).value = addressinput;
        });
        $('#chatwork_token-input').children().keyup(function() {
          var tokeninput = $(this).val();
          document.getElementById( "chatwork_token" ).value = tokeninput;
        });
        $('#room_id-input').children().keyup(function() {
          var roomidinput = $(this).val();
          document.getElementById( "room_id" ).value = roomidinput;
        });
      }
    </script>
  </ons-page>
</template>

<template id="transition.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Animations</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>
    <p style="text-align: center">
      Use the VOnsBackButton
    </p>
    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
      }
    </script>
  </ons-page>
</template>

<script type="text/javascript">
  function update(){
    document.getElementById("update").click();
  };
  function to_home(){
    document.location.href = "<%= root_path %>";
  };
</script>

<style>
  ons-input {
    width: 100%;
  }
  ons-splitter-side[animation=overlay] {
    border-left: 1px solid #bbb;
  }
  .right-icon {
    margin-left: 10px;
  }

  .right-label {
    color: #666;
  }
  #save-btn {
    font-size: 12px;
    padding: 4px 10px;
    line-height: 24px;
  }
</style>